/** LSX Search styles. @package lsx-search */
.blog-description.search-description { margin-top: 4.25rem; }

ul.products.grid .woocommerce-product-details__short-description, ul.products.grid hr { display: none; }

ul.products.list li.product { float: none !important; width: 100% !important; text-align: right !important; }

ul.products.list li.product:after { content: ""; display: block; clear: both; }

ul.products.list li.product .woocommerce-loop-product__title, ul.products.list li.product .woocommerce-loop-category__title { clear: none; }

ul.products.list li.product img { width: 30.75% !important; float: right; margin-bottom: 1.5em; -webkit-transition: none !important; margin-left: 3.8% !important; }

ul.products.list li.product h3, ul.products.list li.product .woocommerce-product-details__short-description, ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap { width: 65.4%; float: left; clear: none; }

ul.products.list li.product div[itemprop="description"] { display: block; }

ul.products.list li.product .star-rating { margin: 0 0 1em; }

ul.products.list li.product .gridlist-buttonwrap { margin-bottom: 1.5em; }

ul.products.list li.product hr { clear: both; }

/*@include media('phone') { .search, .archive { .facetwp-sidebar.widget-area { + .content-area { width: 66.66667%; } } } }*/
@media (min-width: 992px) { .search .content.role.row, .archive .content.role.row, .blog .content.role.row { margin-left: auto; margin-right: auto; }
  .search .facetwp-sidebar.widget-area, .archive .facetwp-sidebar.widget-area, .blog .facetwp-sidebar.widget-area { padding: 0px 20px 20px 20px; margin-top: 4.25rem; max-width: 271px; margin-right: 5px; margin-left: 5px; }
  .search .facetwp-sidebar.widget-area + .content-area, .archive .facetwp-sidebar.widget-area + .content-area, .blog .facetwp-sidebar.widget-area + .content-area { margin-top: 4.25rem; width: 100%; max-width: 695px; padding-right: 20px; padding-left: 0; }
  .search .facetwp-sidebar.widget-area + .content-area.search-sidebar-left, .archive .facetwp-sidebar.widget-area + .content-area.search-sidebar-left, .blog .facetwp-sidebar.widget-area + .content-area.search-sidebar-left { padding-right: 0; padding-left: 20px; }
  .search .facetwp-sidebar.widget-area + .content-area .facetwp-template .lsx-to-archive-item, .archive .facetwp-sidebar.widget-area + .content-area .facetwp-template .lsx-to-archive-item, .blog .facetwp-sidebar.widget-area + .content-area .facetwp-template .lsx-to-archive-item { margin-top: 2.4rem; }
  .search .facetwp-sidebar.widget-area + .content-area .facetwp-bottom-row-1, .archive .facetwp-sidebar.widget-area + .content-area .facetwp-bottom-row-1, .blog .facetwp-sidebar.widget-area + .content-area .facetwp-bottom-row-1 { margin-top: 2.4rem; } }

@media (min-width: 1200px) { .search .facetwp-sidebar.widget-area + .content-area, .archive .facetwp-sidebar.widget-area + .content-area, .blog .facetwp-sidebar.widget-area + .content-area { width: 100%; max-width: 859px; } }

.facetwp-type-search .facetwp-search-wrap .facetwp-search { display: block; width: 100%; height: 50px; color: #4a4a4a; background-color: #fff; background-image: none; border: 1px solid #ddd; border-radius: 2px; border-width: 2px; -webkit-box-shadow: none; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; -webkit-transition: all 150ms ease; transition: all 150ms ease; }

.facetwp-type-search .facetwp-search-wrap .facetwp-search:focus { border-color: #418ad0; }

@media (max-width: 767px) { #primary.content-area { margin-top: 4.25rem; } }

#primary.content-area #facetwp-top .facetwp-sort-select { position: relative; }

#secondary.facetwp-sidebar { padding: 0px 11px 15px 15px; }

@media (max-width: 767px) { #secondary.facetwp-sidebar { margin-top: 4.25rem; margin-bottom: 2.4rem; } }

@media (min-width: 768px) { #secondary.facetwp-sidebar .facetwp-row { border-radius: 3px 3px 3px 3px; } }

#secondary.facetwp-sidebar .facetwp-filter-title { text-align: right; }

@media (max-width: 767px) { #secondary.facetwp-sidebar .facetwp-filter-title { display: none; } }

#secondary.facetwp-sidebar .facetwp-item, #secondary.facetwp-sidebar .facetwp-filter-title { background: #ffffff; border-radius: 0; padding: 15px 12px; margin-bottom: 3px; }

#secondary.facetwp-sidebar .facetwp-type-search { background: transparent; padding: 0px; margin-top: 0 !important; }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form { background: transparent; padding: 0px; margin-bottom: 25px; }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .input-group .field:first-child { width: 77%; }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .input-group .field:nth-child(2) { width: 23%; }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .btn.search-submit { -webkit-box-shadow: -1px 1px 0 0 #27639e; box-shadow: -1px 1px 0 0 #27639e; border-radius: 2px 0 0 2px; }

.archive-tour-operator .facetwp-template .row.lsx-to-archive-items { margin-top: -2.5rem; }

.facetwp-type-search .facetwp-search-wrap .facetwp-search { border-radius: 0 2px 2px 0; float: none; padding: 8px 14px 10px; width: 190px; }

@media (min-width: 768px) { .facetwp-type-search .facetwp-search-wrap .facetwp-search { width: 120px; } }

@media (min-width: 1200px) { .facetwp-type-search .facetwp-search-wrap .facetwp-search { width: 170px; } }

body.facetwp-loading-body .search-submit-facetwp { display: none; }

.lsx-search-form .input-group { width: 100%; }

.lsx-search-form .field { display: inline-block; float: right; margin-right: 0; margin-top: 10px; width: 80%; }

.lsx-search-form .field .facetwp-search { min-width: 100%; border: 1px solid #e4e4e4; }

.lsx-search-form .field:not(.submit-button) { position: relative; z-index: 2; }

.lsx-search-form .field.submit-button { width: 20%; }

.lsx-search-form .field.submit-button .search-submit { width: 100%; }

@media (min-width: 768px) { .lsx-search-form .field { margin-right: 10px; margin-top: 0; }
  .lsx-search-form .field:first-child { margin-right: 0; } }

.lsx-search-form .field.combination-toggle.hidden { display: none; }

.lsx-search-form .field .search-field { border-radius: 0; float: none; padding: 8px 14px 10px; width: 230px; }

@media (min-width: 768px) { .lsx-search-form .field .search-field { width: 400px; } }

.lsx-search-form .field .search-field.error { border-color: red; }

@media (max-width: 767px) { .lsx-search-form .field .btn { padding-right: 20px; padding-left: 20px; }
  .lsx-search-form .field .btn .fa { display: none; } }

@media (max-width: 767px) { .lsx-search-form .field .btn-dropdown { min-width: 230px; } }

.lsx-search-form .field.submit-button:nth-child(2) { margin-right: 0; }

.lsx-search-form .field.submit-button:nth-child(2) .btn { margin-right: -3px; }

@media (max-width: 767px) { .lsx-search-form .field.submit-button:nth-child(2) .btn { padding-left: 17px; } }

@media (max-width: 767px) { .lsx-search-form .field.submit-button:not(:nth-child(2)) .btn { min-width: 228px; } }

.blog .is-loading .facetwp-overlay, .archive .is-loading .facetwp-overlay, .search-results .is-loading .facetwp-overlay, .search-no-results .is-loading .facetwp-overlay { position: absolute; }

.blog .facetwp-sidebar.widget-area .facetwp-item:first-child, .archive .facetwp-sidebar.widget-area .facetwp-item:first-child, .search-results .facetwp-sidebar.widget-area .facetwp-item:first-child, .search-no-results .facetwp-sidebar.widget-area .facetwp-item:first-child { margin-top: 0; }

.blog .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed, .archive .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed, .search-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed, .search-no-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.blog .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse, .archive .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse, .search-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse, .search-no-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse { border: none; background: none; height: 100%; }

.blog .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .archive .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-no-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before { content: " "; font-family: FontAwesome; font-size: 15px; }

.blog .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before, .archive .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before, .search-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before, .search-no-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before { content: "\f067"; }

.blog .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before, .archive .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before, .search-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before, .search-no-results .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before { content: "\f068"; }

.blog .facetwp-sidebar.widget-area .facetwp-facet, .archive .facetwp-sidebar.widget-area .facetwp-facet, .search-results .facetwp-sidebar.widget-area .facetwp-facet, .search-no-results .facetwp-sidebar.widget-area .facetwp-facet { margin-bottom: 0; margin-top: 2rem; }

.blog .facetwp-sidebar.widget-area .lsx-search-title, .archive .facetwp-sidebar.widget-area .lsx-search-title, .search-results .facetwp-sidebar.widget-area .lsx-search-title, .search-no-results .facetwp-sidebar.widget-area .lsx-search-title { text-align: right; }

@media (min-width: 768px) { .blog .facetwp-sidebar.widget-area .lsx-search-title, .archive .facetwp-sidebar.widget-area .lsx-search-title, .search-results .facetwp-sidebar.widget-area .lsx-search-title, .search-no-results .facetwp-sidebar.widget-area .lsx-search-title { margin-top: 2rem; margin-bottom: 2rem; }
  .blog .facetwp-sidebar.widget-area .lsx-search-title.lsx-to-search-title-results, .archive .facetwp-sidebar.widget-area .lsx-search-title.lsx-to-search-title-results, .search-results .facetwp-sidebar.widget-area .lsx-search-title.lsx-to-search-title-results, .search-no-results .facetwp-sidebar.widget-area .lsx-search-title.lsx-to-search-title-results { padding-bottom: 2rem; } }

@media (min-width: 768px) { .blog .facetwp-sidebar.widget-area .lsx-search-title, .archive .facetwp-sidebar.widget-area .lsx-search-title, .search-results .facetwp-sidebar.widget-area .lsx-search-title, .search-no-results .facetwp-sidebar.widget-area .lsx-search-title { margin-top: 0; margin-bottom: 0; } }

.blog .facetwp-sidebar.widget-area .lsx-search-title .facetwp-counts, .archive .facetwp-sidebar.widget-area .lsx-search-title .facetwp-counts, .search-results .facetwp-sidebar.widget-area .lsx-search-title .facetwp-counts, .search-no-results .facetwp-sidebar.widget-area .lsx-search-title .facetwp-counts { display: inline-block; }

.blog .facetwp-sidebar.widget-area .facetwp-results, .archive .facetwp-sidebar.widget-area .facetwp-results, .search-results .facetwp-sidebar.widget-area .facetwp-results, .search-no-results .facetwp-sidebar.widget-area .facetwp-results { margin-top: 20px !important; padding-bottom: 20px; }

.blog .facetwp-sidebar.widget-area .facetwp-results .lsx-search-title, .archive .facetwp-sidebar.widget-area .facetwp-results .lsx-search-title, .search-results .facetwp-sidebar.widget-area .facetwp-results .lsx-search-title, .search-no-results .facetwp-sidebar.widget-area .facetwp-results .lsx-search-title { margin-bottom: 0; }

.blog .facetwp-sidebar.widget-area .facetwp-results .input-group-btn, .archive .facetwp-sidebar.widget-area .facetwp-results .input-group-btn, .search-results .facetwp-sidebar.widget-area .facetwp-results .input-group-btn, .search-no-results .facetwp-sidebar.widget-area .facetwp-results .input-group-btn { vertical-align: top; }

.blog .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect, .archive .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect, .search-results .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect, .search-no-results .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect { -webkit-box-shadow: none; box-shadow: none; }

.blog .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target, .archive .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target, .search-results .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target, .search-no-results .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target { background-color: #fff; border-radius: 2px; -webkit-box-shadow: none; box-shadow: none; padding: 0 15px; }

.blog .facetwp-sidebar.widget-area .facetwp-form .search-field, .archive .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results .facetwp-sidebar.widget-area .facetwp-form .search-field { width: 190px; height: 50px; }

@media (min-width: 768px) { .blog .facetwp-sidebar.widget-area .facetwp-form .search-field, .archive .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results .facetwp-sidebar.widget-area .facetwp-form .search-field { width: 120px; } }

@media (min-width: 1200px) { .blog .facetwp-sidebar.widget-area .facetwp-form .search-field, .archive .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results .facetwp-sidebar.widget-area .facetwp-form .search-field { width: 170px; } }

.blog .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit, .archive .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit, .search-results .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit, .search-no-results .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit { padding-right: 20px; padding-left: 17px; font-size: 0; height: 48px; }

.blog .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before, .archive .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before, .search-results .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before, .search-no-results .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before { content: "\f002"; font-family: FontAwesome; font-size: 20px; text-align: center; font-weight: 200; }

.lsx-pagination-wrapper.facetwp-custom { margin-top: 2.4rem; }

@media (min-width: 768px) { .lsx-pagination-wrapper.facetwp-custom { margin-top: 0; } }

.lsx-pagination-wrapper.facetwp-custom .facetwp-page { margin: 0; padding: 0; cursor: pointer; }

.facetwp-type-alpha.facetwp-type-alpha { margin-bottom: 0; }

@media (min-width: 1200px) { .facetwp-type-alpha.facetwp-type-alpha { line-height: 40px; } }

.facetwp-type-alpha .facetwp-alpha { margin-left: 0; }

.facetwp-type-alpha .facetwp-alpha.available { -webkit-transition: color 300ms ease; transition: color 300ms ease; }

.facetwp-type-alpha .facetwp-alpha + .facetwp-alpha { margin-right: 5px; }

.facetwp-top-row-1 { margin: 0; }

.facetwp-top-row-2 { margin-top: 12px; }

.facetwp-bottom-row-1 { margin-top: 4.25rem; }

@media (min-width: 768px) { .facetwp-sort, .facetwp-per-page { float: right; } }

@media (min-width: 768px) { .facetwp-type-pager { float: left; } }

@media (min-width: 768px) { .facetwp-pager { float: left; } }

.facetwp-pager > .facetwp-page { border-radius: 3px; border-style: solid; border-width: 2px; display: inline-block; height: 40px; line-height: 36px; text-align: center; vertical-align: top; width: 40px; cursor: pointer; margin-left: 5px; }

.facetwp-pager > .facetwp-page.active, .facetwp-pager > .facetwp-page:hover { color: #fff !important; }

.facetwp-pager > .facetwp-page.dots { border: none; }

.facetwp-pager > .facetwp-page.prev { font-size: 0; }

.facetwp-pager > .facetwp-page.prev:before { font: normal normal normal 15px/1 FontAwesome; content: "\f100"; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; }

.facetwp-pager > .facetwp-page.next { font-size: 0; }

.facetwp-pager > .facetwp-page.next:before { font: normal normal normal 15px/1 FontAwesome; content: "\f101"; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; }

.facetwp-sort, .facetwp-per-page { background-color: white; border: 1px solid #dadddf; }

.facetwp-sort:hover, .facetwp-per-page:hover { cursor: pointer; -webkit-box-shadow: -0.5px 0.5px 1px #ddd; box-shadow: -0.5px 0.5px 1px #ddd; z-index: 1; }

.facetwp-sort-select, .facetwp-per-page-select, .woocommerce select.facetwp-sort-select { cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; background-repeat: no-repeat; background-position-x: 0%; background-position-y: 50%; border-style: solid; border-width: 1px; -webkit-box-shadow: none; box-shadow: none; display: inline-block; font-size: 14px; line-height: 1.25; min-width: 160px; height: 50px; padding: 0; -webkit-transition: all 150ms ease; transition: all 150ms ease; width: auto; border-radius: 0; background: none; border: none; z-index: 1; }

.facetwp-per-page:after, .facetwp-sort:after { content: "\f078"; color: #999999; position: relative; left: 30px; font-family: FontAwesome; font-size: 10px; top: 0px; cursor: pointer; z-index: 0; }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper { margin-top: 0 !important; }

@media (min-width: 768px) { .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot:first-child, .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot:nth-child(2), .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot:nth-child(3) { margin-top: 0 !important; } }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .moretag { display: block; margin: 0px -15px -15px; padding: 1.3rem 0; text-align: center; -webkit-transition: background 300ms ease; transition: background 300ms ease; color: #fff; text-transform: initial; }

@media (max-width: 768px) { .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .moretag { margin: 0px -10px -15px; } }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .entry-layout { padding-bottom: 0; }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .post-tags-wrapper, .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .entry-meta, .lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .post-meta-categories { display: none; }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .entry-title { text-align: center; }

.facetwp-template .searchwp-revised-search-notice { display: block; width: 100%; padding: 0 15px; }

.facetwp-template > .no-results { margin-top: 4rem; }

.facetwp-template article.lsx-slot { position: relative; }

.facetwp-template article.lsx-slot .lsx-label-post-type { padding: 4px 1rem; position: absolute; left: 25px; top: 10px; z-index: 1; }

.facetwp-template article.lsx-slot .entry-layout { padding-bottom: 0; }

.facetwp-template article.lsx-slot .entry-layout .entry-summary { padding-bottom: 15px; }

.facetwp-template article.lsx-slot .post-tags-wrapper, .facetwp-template article.lsx-slot .entry-meta, .facetwp-template article.lsx-slot .post-meta-categories { display: none; }

.facetwp-template article.lsx-slot .moretag { text-transform: initial; }

body.blog:not(.lsx-hide-post-category) .facetwp-template article.lsx-slot .post-meta-categories, body.category:not(.lsx-hide-post-category) .facetwp-template article.lsx-slot .post-meta-categories, body.tag:not(.lsx-hide-post-category) .facetwp-template article.lsx-slot .post-meta-categories { display: block; }

body.blog:not(.lsx-hide-post-tags) .facetwp-template article.lsx-slot .post-tags-wrapper, body.category:not(.lsx-hide-post-tags) .facetwp-template article.lsx-slot .post-tags-wrapper, body.tag:not(.lsx-hide-post-tags) .facetwp-template article.lsx-slot .post-tags-wrapper { display: block; }

body.blog:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta, body.category:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta, body.tag:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta { display: block; padding-top: 0; }

body.blog:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta .post-meta-author, body.category:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta .post-meta-author, body.tag:not(.lsx-hide-post-author) .facetwp-template article.lsx-slot .entry-meta .post-meta-author { display: inline; }

body.blog:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta, body.category:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta, body.tag:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta { display: block; padding-top: 0; }

body.blog:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta .post-meta-time, body.category:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta .post-meta-time, body.tag:not(.lsx-hide-post-date) .facetwp-template article.lsx-slot .entry-meta .post-meta-time { display: inline; }

.lsx-body-list-layout .facetwp-template article.lsx-slot .lsx-label-post-type { right: 10px; left: initial; text-transform: capitalize; }

.woocommerce .facetwp-template ul.products, .woocommerce-page .facetwp-template ul.products { margin-top: 0; }

@media (min-width: 768px) { .woocommerce .facetwp-template ul.products li.product, .woocommerce-page .facetwp-template ul.products li.product { width: 30.75%; } }

@media (max-width: 767px) { .facetwp-filters-wrap { height: 100%; right: 0; margin: 0 !important; padding: 15px; position: fixed !important; overflow-x: visible; overflow-y: auto; top: 0; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); z-index: 7; } }

.ssm-overlay { background-color: rgba(0, 0, 0, 0.2); bottom: 0; display: none; right: 0; position: fixed; left: 0; top: 0; z-index: 5; }

.ssm-nav-is-open { overflow: hidden; }

.ssm-nav-is-open #secondary { z-index: 9999; }

.ssm-row-margin-bottom { margin-bottom: 4.25rem; }

.ssm-row-margin-top { margin-top: 4.25rem; }

.facetwp-slider-wrap { padding-bottom: 2.4rem; }

.facetwp-slider-label { font-size: 18px; }

.facetwp-hidden { display: none; }

.facetwp-toggle { cursor: pointer; }

.facetwp-checkbox { cursor: pointer; padding-right: 25px; position: relative; }

.facetwp-checkbox + .facetwp-checkbox { margin-top: 5px; }

.facetwp-checkbox:before { content: "\f096"; color: inherit; display: inline-block; font-family: "FontAwesome"; font-size: 18px; line-height: 1; position: absolute; right: 0; text-rendering: auto; top: 4px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.facetwp-checkbox.checked:before { content: "\f14a"; }

.facetwp-checkbox.depth-1 { margin-right: 25px; }

.facetwp-checkbox.depth-2 { margin-right: 50px; }

.facetwp-checkbox.country { display: none; }

.continent-visible .facetwp-checkbox.country { margin-right: 20px; }

.facetwp-checkbox.country.continent-checked { display: block; }

.facetwp-checkbox.region { margin-right: 20px; display: none; }

.continent-visible .facetwp-checkbox.region { margin-right: 40px; }

.facetwp-checkbox.region.country-checked { display: block; }

.facetwp-radio { cursor: pointer; padding-right: 25px; position: relative; }

.facetwp-radio + .facetwp-radio { margin-top: 5px; }

.facetwp-radio:before { content: "\f10c"; color: inherit; display: inline-block; font-family: "FontAwesome"; font-size: 15px; line-height: 1; position: absolute; right: 0; text-rendering: auto; top: 5px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.facetwp-radio.checked:before { content: "\f111"; }

.facetwp-radio.depth-1 { margin-right: 25px; }

.facetwp-radio.depth-2 { margin-right: 50px; }

.facetwp-overflow { margin-top: 5px; }

.facetwp-loading { display: block; }

.facetwp-loading:before { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; content: "\f110"; color: inherit; display: inline-block; font-family: "FontAwesome"; font-size: 16px; line-height: 1; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.facetwp-results-clear-btn { margin-top: 10px; }

.facetwp-slider-reset { margin-top: 10px; }

@media (max-width: 767px) { .facetwp-filters-wrap { background-color: #f6f6f6; } }

.archive .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect { background: #418ad0; }

.facetwp-item .facetwp-collapsed button.facetwp-collapse:before { color: #418ad0; }

.facetwp-item .facetwp-collapsed button.facetwp-collapse:hover:before { color: #f7ae00; }

.facetwp-type-alpha .facetwp-alpha { color: #dadddf; }

.facetwp-type-alpha .facetwp-alpha.available { color: #418ad0; }

.facetwp-type-alpha .facetwp-alpha.available:hover { color: #f7ae00; }

.facetwp-sort-select, .facetwp-per-page-select { background-image: url("data:image/svg+xml;utf8,<svg fill='#919191' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); border-color: #dadddf; color: #919191; -moz-text-align-last: center; text-align-last: center; }

.facetwp-template article.lsx-slot .lsx-label-post-type { background-color: #4a4a4a; color: #fff; }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .moretag { background: #418ad0; }

.lsx-body-grid-layout.search .facetwp-template > .post-wrapper .lsx-slot .moretag:hover { background: #f7ae00; }

.facetwp-pager > .facetwp-page { border-color: #418ad0; }

.facetwp-pager > .facetwp-page.active, .facetwp-pager > .facetwp-page:hover { background-color: #418ad0; }

.facetwp-type-pager button { border-radius: 3px; font-size: 15px; font-weight: 700; letter-spacing: 0.54px; line-height: 1.25; text-transform: uppercase; padding: 12px 40px; border: 2px solid #418ad0; background-color: transparent; color: #418ad0; }

.facetwp-type-pager button:hover { background-color: #418ad0; color: white; }

.facetwp-type-pager .facetwp-per-page-select { background-color: white; border: 1px solid #ddd; }

#ui-datepicker-div { z-index: 99 !important; }

/* New style */
body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { background-color: transparent; border: none; }

body:not(.search-no-results) .lsx-search-title.lsx-search-title-results { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 0; }

body:not(.search-no-results) .facetwp-sidebar { background-color: transparent; border: none; }

body:not(.search-no-results) #facetwp-top { margin-bottom: 25px; }

body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { padding: 0; margin-right: 0; margin-left: 0; min-height: 50px; }

@media (max-width: 767px) { body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { margin-right: 0; margin-left: 0; } }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; height: 51px; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .facetwp-pager, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .facetwp-pager { -webkit-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

body:not(.search-no-results) #facetwp-bottom .col-xs-12 { padding: 0; }

.search-no-results #facetwp-top, .search-no-results .facetwp-sidebar { background-color: transparent; border: none; }

.search-no-results #facetwp-top, .search-no-results #facetwp-bottom { display: none; }

.search-no-results .facetwp-template { margin-top: 1em; background-color: #ffffff; border: 1px solid #e4e4e4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 300px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (max-width: 767px) { #facetwp-top, .search-form:not(.form-inline) { display: none; }
  .lsx-pagination-wrapper.facetwp-custom { margin-top: 0; }
  .logged-in .facetwp-item.facetwp-filters-wrap { padding-top: 10rem; }
  .logged-in .facetwp-item-wrap > .ssm-row-margin-bottom:first-child { margin-top: 12.4rem; }
  .logged-in .ssm-row-margin-bottom { margin-top: 8.4rem; }
  .facetwp-sort-select, .facetwp-per-page-select { width: 100%; margin-bottom: 0; } }
